<form class="form-horizontal">
  <h4>SmartABL settings <small>Version {{ plugin_SmartABL_version }}</small></h4>

  <div class="control-group">
    <h5>GCODES</h5>

    <label class="control-label"></label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" style="margin-top: 5px;" data-bind="checked: settings.plugins.SmartABL.trigger_custom"/>
        Trigger custom gcode(s)
        <div class="input-append">
          <input class="input-xlarge" data-bind="value: settings.plugins.SmartABL.trigger_gcode, enable: settings.plugins.SmartABL.trigger_custom"/>
        </div>
        <br>
        <small>These commands will trigger SmartABL algorithm. Useful if you use macros instead of G29/G80/BED_MESH_CALIBRATE. Multiple commands allowed, separate them with commas. Don't use semicolons</small>
      </label>
    </div>
    <label class="control-label"></label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" style="margin-top: 5px;" data-bind="checked: settings.plugins.SmartABL.abl_custom"/>
        ABL custom gcode(s)
        <div class="input-append">
          <input class="input-xlarge" data-bind="value: settings.plugins.SmartABL.abl_gcode, enable: settings.plugins.SmartABL.abl_custom"/>
        </div>
        <br>
        <small>These commands will be sent instead of G29/G80/BED_MESH_CALIBRATE. Multiple commands allowed, separate them with commas. Do not use semicolons</small>
      </label>
    </div>
    <label class="control-label"></label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" style="margin-top: 5px;" data-bind="checked: settings.plugins.SmartABL.cmd_ignore"/>
        Ignore gcode(s)
        <div class="input-append">
          <input class="input-xlarge" data-bind="value: settings.plugins.SmartABL.ignore_gcode, enable: settings.plugins.SmartABL.cmd_ignore"/>
        </div>
        <br>
        <small>These commands will be ignored and not be sent to the printer. Multiple commands allowed, separate them with commas. Do not use semicolons</small>
      </label>
    </div>
  </div>

  <div class="control-group">
    <h5>Force bed leveling</h5>

    <label class="control-label"></label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" style="margin-top: 7px;" data-bind="checked: settings.plugins.SmartABL.force_days"/>
        After
        <div class="input-append">
          <input class="input-mini text-right" type="number" min="0" step="1" data-bind="value: settings.plugins.SmartABL.days, enable: settings.plugins.SmartABL.force_days"/>
          <span class="add-on smartabl-addon">day(s)</span>
        </div>
      </label>
    </div>

    <label class="control-label"></label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" style="margin-top: 7px;" data-bind="checked: settings.plugins.SmartABL.force_prints"/>
        After
        <div class="input-append">
          <input class="input-mini text-right" type="number" min="0" step="1" data-bind="value: settings.plugins.SmartABL.prints, enable: settings.plugins.SmartABL.force_prints"/>
          <span class="add-on smartabl-addon">print(s)</span>
        </div>
      </label>
    </div>

    <label class="control-label"></label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" style="margin-top: 3px;" data-bind="checked: settings.plugins.SmartABL.bedtemp"/>
        If bed temperature is different from last print
      </label>
    </div>

    <label class="control-label"></label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" style="margin-top: 3px;" data-bind="checked: settings.plugins.SmartABL.hetemp"/>
        If hotend temperature is different from last print
      </label>
    </div>
  </div>

  <div class="control-group">
    <h5>Extras</h5>

    <label class="control-label"></label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" style="margin-top: 3px;" data-bind="checked: settings.plugins.SmartABL.failed"/>
        Take into account failed/stopped jobs in <code>prints counter</code>
      </label>
    </div>

    <label class="control-label"></label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" style="margin-top: 3px;" data-bind="checked: settings.plugins.SmartABL.force_unknown"/>
        Enable SmartABL on unknown firmwares
        <br>
        <small>You have to enable and configure <code>Trigger custom gcode(s)</code> and <code>ABL custom gcode(s)</code>. If you don't configure these two settings,
        SmartABL assumes marlin firmware by default (i.e. G29 read from file and G29 sent to printer when ABL is needed)</small>
      </label>
    </div>
  </div>
</form>
